.Associate{
    padding-top: 100px;
    padding-bottom: 80px;
    max-width: 1350px;
 }
h1{
    color: #0e2d53;
}
 h4{
    color:#0e2d53;
    line-height: 30px;
    font-size: 22px;
    width:600px;
}
a{
    color: #10767b;
}
.Associate2{
    max-width: 1400px;
}
img{
    width:600px;
    height:415px;
}