<hr>
<div class="footer">
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly start">
      <div fxFlex="20" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"> 
        <div align="center">
    <img src="../../../assets/img/group@3x.png" />
      </div>
      </div>
     <div class="l1" fxFlex="20" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
      <h3>BUYERS & SELLERS</h3>
      <li>First time home buyers</li>
      <li>Luxury</li>
      <li>Condos</li>
      <li>Foreclosures</li>
      <li>Relocation</li>
    </div>
    <div class="l1" fxFlex="20" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
      <h3>BUYERS & SELLERS</h3>
      <li>First time home buyers</li>
      <li>Luxury</li>
      <li>Condos</li>
      <li>Foreclosures</li>
      <li>Relocation</li>
    </div>
    <div class="l1" fxFlex="20" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
      <h3>PARTNERS</h3>
      <li>Resource Financial</li>
      <li>Enhanced Marketing Solutions</li>
      <li>Mr. Rekey</li>
      <li>Credit Law Center</li>
      <li>Strategic Client Services</li>
    </div>
    <div class="l2" fxFlex="20" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100"> 
      <h3>CONTACT US</h3>
      <img src="../../../assets/img/phone-call-active-512.png" />
      <span>+1 0987654</span>
      <div class="l3">
        <img src="../../../assets/img/_mailbox_icon_30268.png" />
        <span>mail@mail.com</span>
        <div class="a1">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin-in"></i>
        <i class="fab fa-apple"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
