<div class="navbar">
  <div align="center">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <div fxFlex="20">
        <img src="../../../assets/img/group@3x.png"/>
      </div>
      <div fxFlex="50">
        <a href="#">Home</a>
        <a href="#">join us</a>
        <a href="#">join us</a>
        <a href="#">Faq's</a>
        <a href="#">Send a Referral</a>
        <a href="#">Continuing Education</a>
      </div>
      <div fxFlex="30">
        <a href="#">sign in</a>
        <button>Get started now</button>
      </div>
    </div>
  </div>
</div>
