<div fxLayout="column wrap" fxLayoutAlign="center center">
  <div class="content" align="center">
    <h1>Is Being a Referral Associate Right for <a href="#">YOU</a>?</h1>
    <p>
      Referral status is a good option if you can answer “Yes” to one or more of
      the following:
    </p>
  </div>
  <div class="content-2">
    <h5>
      ❖ You have a current license and many community connections, but have no
      time for managing the details of real estate transactions;
    </h5>
    <h5>
      ❖ You haveconnections who want to purchase property in distant markets;
    </h5>
    <h5>
      ❖ You have connections who move into the local area with no knowledge of
      the area;
    </h5>
    <h5>
      ❖ You have a license in one state but have moved elsewhere; you can still
      benefit from real estate transactions happening in your sphere of
      influencein your former location.
    </h5>
    <h5>❖ Still have questions? See our FAQ’s page!</h5>
  </div>
</div>
