<!-- <div class="profile">
  <div align="center">
    <h1>What Our Agents Say</h1>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="profile1" align="center">
      <img src="../../../assets/img/pug-face-png-8.png" />
      <h3>Align marti</h3>
      <p>
        Have you ever heard the expression, “Do not count your chickens before
        they hatch?” Maybe an older, wiser individual would tell you this to
        keep you from getting ahead of yourself. Like buying a new car before
        you actually got that new job. Well, when setting and obtaining your
        goals, you need to “Count your chicken before they hatch” in your mind.
        What I mean by this is you have to start seeing yourself completing or
        obtaining your goal. What you profess, you possess!
      </p>
    </div>
    <div class="profile2" align="center">
      <img src="../../../assets/img/b6C9cYU.jpg" />
      <h3>Ilya Vasin</h3>
      <p>
        Have you ever heard the expression, “Do not count your chickens before
        they hatch?” Maybe an older, wiser individual would tell you this to
        keep you from getting ahead of yourself. Like buying a new car before
        you actually got that new job. Well, when setting and obtaining your
        goals, you need to “Count your chicken before they hatch” in your mind.
        What I mean by this is you have to start seeing yourself completing or
        obtaining your goal. What you profess, you possess!
      </p>
    </div>
    <div class="profile3" align="center">
      <img src="../../../assets/img/images-2.jpeg">
      <h3>Rafeeda El Nouri</h3>
      <p>
        Have you ever heard the expression, “Do not count your chickens before
        they hatch?” Maybe an older, wiser individual would tell you this to
        keep you from getting ahead of yourself. Like buying a new car before
        you actually got that new job. Well, when setting and obtaining your
        goals, you need to “Count your chicken before they hatch” in your mind.
        What I mean by this is you have to start seeing yourself completing or
        obtaining your goal. What you profess, you possess!
      </p>
    </div>
</div> -->
<div class="container-fluid">
  <h2>what our agent say</h2>
  <div class="carousel-wrapper">
    <div class="carousel" data-flickity>
      <div class="carousel-cell">
        <div class="card">
          <img src="../../../assets/img/pug-face-png-8.png" />
          <h4>Align marti</h4>
          <h6>
            Makes my accounting needs so simple and easy. I love using this
            product and highly recommend this product
          </h6>
         </div>
      </div>
      <div class="carousel-cell">
        <div class="card">
          <img src="../../../assets/img/b6C9cYU.jpg" />
          <h4>Ilya Vasin</h4>
          <h6>
            The lorem ipsum text is typically a scrambled section of De finibus
            bonorum et malorum, a 1st-century BC Latin text by Cicero
          </h6>
         </div>
      </div>
      <div class="carousel-cell">
        <div class="card">
          <img src="../../../assets/img/images-2.jpeg" />
          <h4>Rafeeda El Nouri</h4>
          <h6>
            A variation of the ordinary lorem ipsum text has been used in
            typesetting since the 1960s or earlier.
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
